<div style="margin-left: 350px;" class = "back">
  <div class="landingpage">
      
    <!-- <mat-card class="example-card">

      <img mat-card-image src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ruoEhTkNeiwq2lefr/videoblocks-quiz-neon-light-on-brick-wall-night-club-bar-blinking-sign-style-video-available-in-4k-fullhd-and-hd-render-footage_s3alkh5hg_thumbnail-full01.png"
        alt="Photo of a Shiba Inu">

      <mat-card-actions clss="exaple-button">
        <div class="buttons">

          <button mat-raised-button color="primary" (click)="openDialog()">Login </button>

          <button mat-raised-button color="accent" (click)="openDialog2()">register </button>
        </div>
      </mat-card-actions>
    </mat-card>
     -->
  </div>
  
        
</div>