.example-card2{
    max-width: 200px;
  }
  
  a{
    text-decoration: none;
  }
  
  mat-card-title{
    color: brown;
    font-size: 25px !important;
    padding-left: 5px;
  }
  
  .margin{
    margin-bottom: -105px;
    margin-left: 65px;
    color: rebeccapurple;
  }
