<section>
  <nav class="navbar navbar-dark default-color justify-content-between">
    <div>
      <a class="navbar-brand" href="#">Maverick</a>
    </div>
    <form class="form-inline my-1">
      <div class="md-form form-sm my-0">
        <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search" aria-label="Search">
      </div>
      <div>
        <i class="fa fa-search" style="font-size: 26PX;"></i>
      </div>
    </form>
    <div class="logOut">
      <mat-form-field>
        <i class="fa fa-user" style="font-size: 40px;"></i>
        <mat-select placeholder="profileButton">
          <mat-option [routerLink]="['profile']">User profile </mat-option>
          <mat-option value="settings.value">Settings </mat-option>
          <mat-option [routerLink]="['']">Log Out</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </nav>
 </section>
 <footer class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="justify-content-center">
        <a href="localhost:4200/maverick" style="color: #fff;">Copyright © Maverick 2018</a>
      </div>
    </div>
  </div>
 </footer>